.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.results-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column; /* or column, depending on your layout */
    flex: 1
    
}
.result {
    padding: 10;
}

.button {
    border: 2px;
    background-color:rgb(220, 237, 243);
    border-color: black;
    border-style: solid;
    padding: 10;
    
    
}
.image {
    width: 50px;
    height: 50px;
    margin: auto;
    align-self: center;
}
.body-title {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
}
.button-container {
    display: flex;
    align-items: center;
    text-align: center;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}